{
  "openapi": "3.0.3",
  "info": {
    "title": "Sattelite Data Service",
    "description": "การบริการข้อมูล",
    "version": "1.3.0"
  },
  "servers": [
    {
      "url": "https://smartcity.gistda.or.th/core/api",
      "description": "Sattelite Data Service"
    }
  ],
  "tags": [
    {
      "name": "ข้อมูลความหนาแน่นของอาคาร ในรูปแบบ H3 L7"
    },
    {
      "name": "ข้อมูลความหนาแน่นของประชากร ในรูปแบบ H3 L7"
    }
  ],
  "paths": {
    "/features/1.0/collections/63a29b13d7b1792e9d84a973/items": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของอาคาร ในรูปแบบ H3 L7"
        ],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2c61bc1d0a3224c3689b2/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของอาคาร ในรูปแบบ H3 L7"
        ],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2c61bc1d0a3224c3689b2/wms": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของอาคาร ในรูปแบบ H3 L7"
        ],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2c61bc1d0a3224c3689b2/wmts": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของอาคาร ในรูปแบบ H3 L7"
        ],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/features/1.0/collections/63a2add35b91e3b30b94082f/items": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของประชากร ในรูปแบบ H3 L7"
        ],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2d5021e83e508aa2cd316/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของประชากร ในรูปแบบ H3 L7"
        ],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2d5021e83e508aa2cd316/wms": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของประชากร ในรูปแบบ H3 L7"
        ],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2d5021e83e508aa2cd316/wmts": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของประชากร ในรูปแบบ H3 L7"
        ],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
