{
  "openapi": "3.0.3",
  "info": {
    "title": "Sattelite Data Service",
    "description": "การบริการข้อมูล",
    "version": "1.3.0"
  },
  "servers": [
    {
      "url": "https://smartcity.gistda.or.th/core/api",
      "description": "Sattelite Data Service"
    }
  ],
  "tags": [
    {
      "name": "ข้อมูลความหนาแน่นของอาคาร"
    },
    {
      "name": "ข้อมูลความหนาแน่นของประชากร"
    },
    {
      "name": "ข้อมูลความหนาแน่นของ 7-Eleven"
    },
    { "name": "ข้อมูลตรวจวัดคุณภาพอากาศรายสถานี (รายชั่วโมง)" },
    { "name": "ข้อมูลตรวจวัดลักษณะอากาศรายสถานี (ราย 3 ชั่วโมง)" },
    {
      "name": "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / S-NPP (รายวัน)"
    },
    {
      "name": "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / NOAA-20 (รายวัน)"
    },
    { "name": "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ MODIS (รายวัน)" }
  ],
  "paths": {
    "/features/1.0/collections/63a29b13d7b1792e9d84a973/items": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของอาคาร"],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2c61bc1d0a3224c3689b2/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของอาคาร"],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2c61bc1d0a3224c3689b2/wms": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของอาคาร"],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2c61bc1d0a3224c3689b2/wmts": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของอาคาร"],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/features/1.0/collections/63a2b9a6d7b1792e9d8542f2/items": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของประชากร"],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2d5021e83e508aa2cd316/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของประชากร"],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2d5021e83e508aa2cd316/wms": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของประชากร"],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2d5021e83e508aa2cd316/wmts": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของประชากร"],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/features/1.0/collections/63a2add35b91e3b30b94082f/items": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของ 7-Eleven"],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2e7bf86a94e33e2ffb099/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของ 7-Eleven"],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2e7bf86a94e33e2ffb099/wms": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของ 7-Eleven"],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2e7bf86a94e33e2ffb099/wmts": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของ 7-Eleven"],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/features/1.0/collections/63a2baba5b91e3b30b944746/items": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดคุณภาพอากาศรายสถานี (รายชั่วโมง)"],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2e11d6141f7a89fe26994/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดคุณภาพอากาศรายสถานี (รายชั่วโมง)"],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2e11d6141f7a89fe26994/wms": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดคุณภาพอากาศรายสถานี (รายชั่วโมง)"],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2e11d6141f7a89fe26994/wmts": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดคุณภาพอากาศรายสถานี (รายชั่วโมง)"],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/features/1.0/collections/63a2ba5ac1d0a3224c3689b1/items": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดลักษณะอากาศรายสถานี (ราย 3 ชั่วโมง)"],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2daae5b91e3b30b944909/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดลักษณะอากาศรายสถานี (ราย 3 ชั่วโมง)"],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2daae5b91e3b30b944909/wms": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดลักษณะอากาศรายสถานี (ราย 3 ชั่วโมง)"],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2daae5b91e3b30b944909/wmts": {
      "get": {
        "tags": ["ข้อมูลตรวจวัดลักษณะอากาศรายสถานี (ราย 3 ชั่วโมง)"],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/features/1.0/collections/63a2afc8c1d0a3224c36868f/items": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / S-NPP (รายวัน)"
        ],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2ef3a108e54ab8397ac1e/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / S-NPP (รายวัน)"
        ],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2ef3a108e54ab8397ac1e/wms": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / S-NPP (รายวัน)"
        ],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2ef3a108e54ab8397ac1e/wmts": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / S-NPP (รายวัน)"
        ],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/features/1.0/collections/63a2b85d1e83e508aa2cd21b/items": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / NOAA-20 (รายวัน)"
        ],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2f01286a94e33e2ffb0e0/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / NOAA-20 (รายวัน)"
        ],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2f01286a94e33e2ffb0e0/wms": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / NOAA-20 (รายวัน)"
        ],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2f01286a94e33e2ffb0e0/wmts": {
      "get": {
        "tags": [
          "ข้อมูลความหนาแน่นของจุดความร้อน ระบบ VIIRS 375m / NOAA-20 (รายวัน)"
        ],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/features/1.0/collections/63a2b963c1d0a3224c3687bc/items": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของจุดความร้อน ระบบ MODIS (รายวัน)"],
        "summary": "get feature  list",
        "description": "When you need to fetch or get the Vallaris Feature of the Feature Collection with id `collectionId`. Every Feature in a dataset belongs to a collection. A dataset may consist of multiple Feature Collections. A Feature Collection is often a collection of features of a similar type, based on a common schema. Use content negotiation to request HTML or GeoJSON. \n\nGET is method you can use along with API key in Vallaris",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "minItems": 4,
              "maxItems": 6,
              "items": {
                "type": "number"
              }
            },
            "style": "form",
            "explode": false,
            "description": "x-min,y-min,[z-min],x-max,y-max,[z-max] (4 or 6 numbers)"
          },
          {
            "name": "datetime",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "description": "ISO datetime (UTC) \"2020-11-23T05:50:44.732Z/..\""
          },
          {
            "name": "limit",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10
            },
            "description": "limit data minimum = 1. maximum = 10000. default = 10."
          },
          {
            "name": "offset",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "skip data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2efe586a94e33e2ffb0df/tms/{z}/{x}/{y}.png": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของจุดความร้อน ระบบ MODIS (รายวัน)"],
        "summary": "get Tile Map Service (TMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2efe586a94e33e2ffb0df/wms": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของจุดความร้อน ระบบ MODIS (รายวัน)"],
        "summary": "get Web Map Service (WMS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/maps/1.0-beta/maps/63a2efe586a94e33e2ffb0df/wmts": {
      "get": {
        "tags": ["ข้อมูลความหนาแน่นของจุดความร้อน ระบบ MODIS (รายวัน)"],
        "summary": "get Web Map Tile Service (WMTS)",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "FoU3JcXgyAVwHCfdQMJDVFojMclWeCvaNUdar6SxnxzceCdKTvlTrEtA36kgufzl",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}
